body {
    font-family: 'Arial', sans-serif;
    margin: 40px;
    background-color: #f0f3f4;
    color: #333;
}

h2 {
    text-align: center;
    color: #2d3748;
}

.container {
    background-color: #e2e8f0;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

.section {
    margin-top: 20px;
    padding: 15px;
    border-radius: 5px;
}

input,
button {
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    border: 1px solid #cbd5e0;
    border-radius: 5px;
}

button {
    background-color: #48bb78;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #38a169;
}

#graphExplanation {
    display: none;
    margin-top: 20px;
}

#formulaSection {
    display: none;
    margin-top: 20px;
}

/* Additional Styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    padding: 10px;
    border: 1px solid #cbd5e0;
    text-align: center;
}

th {
    background-color: #e2e8f0;
}


/* Modal Styles */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    /* 10% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 70%;
}

.close-button {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-button:hover,
.close-button:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* LinkedIn-like styles */
body {
    background-color: #f3f2ef;
    font-family: 'Arial', sans-serif;
}

.container {
    background-color: #fff;
    border: 1px solid #ced0d4;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

h1,
h2 {
    color: #0a66c2;
}

button {
    background-color: #0a66c2;
    border: none;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #004182;
}

div.form {
    margin: 25px auto 25px auto;
    width: 700px;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
}